html {
    background-color: #34495e;
}

body,
.title,
.themeBtn,
a {
    color: #ecf0f1;
}

th,
td {
    border: 1px solid #263646;
}

table {
    border: 2px solid #263646;
}

thead tr {
    background-color: #34495e;
}

#content,
#postamble{
    background-color: #2c3e50;
}
