content {
    display: grid;
    grid-auto-rows: min-content;
    grid-template-areas:
        'word fromlang'
        'wclass gender'
        'translations translations'
        'details details'
        'etymology etymology';
    padding: 40px;
}

word {
    grid-area: word;
    font-size: 3em;
}

fromlang {
    grid-area: fromlang;
    align-self: end;
}

wordclass {
    grid-area: wclass;
}

listtrans {
    grid-area: translations;
}

transdetails {
    grid-area: details;
}

etymology {
    grid-area: etymology;
}
etymology::before {
    content: "Etymology: ";
}

gender {
    grid-area: gender;
}
