content {
}

.wordblock {
    text-decoration: none;
    margin: 40px;
    padding: 20px;
    display: grid;
    grid-template-areas:
        'word word'
        'wclass gender'
        'translation translation';
    background: #343131;
    color: #fcfcfc;
    box-shadow: 5px 5px 10px #000;
}

word {
    margin: 10px;
    grid-area: word;
    font-size: 2em;
}

wclass {
    grid-area: wclass;
}

gender {
    grid-area: gender;
}

.translations {
    grid-area: translation;
    list-style: none;
}

.translations::before {
    content: "Translations:";
}

li {
    margin: 10px;
}
