@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Roboto+Slab:400,700|Inconsolata:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@font-face {
    font-family: "DoulosSIL";
    font-display: swap;
    src:url("DoulosSIL-R.woff");
}

body {
    margin: 0;
    height: 100%;
    background: #edf0f2;
    display: grid;
    overflow: auto;
    height: 100vh;
    grid-template-columns: 300px auto;
    grid-template-areas:
        'sidebar content';
    color: #404040;
}

.h1 {
    margin-bottom: .2em;
    font-size: 175%;
    font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
    font-weight: 700;
    text-align: center;
}

.p {
    font-size: inherit;
    line-height: 24px;
    margin: 0 0 24px 0;
    box-sizing: border-box;
    display: block;
    font-family: "DoulosSIL","Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
}

sidebar {
    grid-area: sidebar;
    width: 300px;
    background-color: #343131;
}

content {
    margin: 10px;
    grid-area: content;
}

content {
    max-width: 900px;
    background-color: #fcfcfc;
}

errormessage {
    color: red;
    text-align: center;
    font-size: 1.5em;
    font-family: "DoulosSIL","Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
}

sidebar {
    color: #fcfcfc;
}

sidebar > h1 {
    background: #2980b9;
    padding: 15px;
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    font-size: 1.5em;
}
